[submodule "DtoBase"]
	path = DtoBase
	url = https://github.com/shah198/DtoBase
[submodule "Portfolio-Platform-Entities"]
	path = Portfolio-Platform-Entities
	url = https://github.com/shah198/Portfolio-Platform-Entities
